/*cabeçalho*/

header img {

    height: 70px;
    width: 70px;
}

/*Conteudo principal*/
nav {
    background-color: #f3f3f3;

}

/*banner*/

#section-banners img {
    height: 500px;
}


/*Produtos vendidos*/

#section-vendidos {
    text-align: center;
}

#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    /* Adicionei um padding para separar conteúdos */
}

#section-vendidos .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
}



/*Rodapé*/

footer {
    position: relative;
    bottom: 0;
}


footer p {
    text-align: center;
    font-weight: bold;
    padding: 200px;
}

/*Botão Voltar topo*/

#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
}


/* página de login  */

#section-login {
    margin-top: 100px;
    text-align: center;
}

#section-loginh1 {
    text-align: center;
    padding: 50px;
}

#section-logininput {
    width: 100%;
}

/* Formulário de cadastro*/

#section-cadastro {
    padding: 5px;
    text-align: center;
    background-color: #4124c1;
}

#form-cadastrar {
    padding: 50px;
    display: none;
    
}

button {
    padding: 50px;
    background-color: black;
}